<html>
  <body>
    <div id="app">{{ message }}</div>
    <div id="app2">
      <span v-bind:title="message"> hover here </span>
    </div>
    <div id="app3">
      <span v-if="seen">now you see me</span>
    </div>
    <div id="app4">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>
    <div id="app5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app6">
      <p>{{ message }}</p>
      <input v-model="message" />
    </div>
    <div id="app7">
      <ol>
        <todo-item
          v-for="item in grocerylist"
          v-bind:todo="item"
          v-bind:key="item.id"
        >
        </todo-item>
      </ol>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue!",
      },
    });
    var app2 = new Vue({
      el: "#app2",
      data: {
        message: "We are on " + new Date().toLocaleString(),
      },
    });
    var app3 = new Vue({
      el: "#app3",
      data: {
        seen: true,
      },
    });
    var app4 = new Vue({
      el: "#app4",
      data: {
        todos: [{ text: "text 1" }, { text: "text 2" }, { text: "text 3" }],
      },
    });
    var app5 = new Vue({
      el: "#app5",
      data: {
        message: "Hello Vue JS",
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split("").reverse().join("");
        },
      },
    });
    var app6 = new Vue({
      el: "#app6",
      data: {
        message: "pam",
      },
    });

    Vue.component("todo-item", {
      props: ["todo"],
      template: "<li>{{ todo.text}}</li>",
    });

    var app7 = new Vue({
      el: "#app7",
      data: {
        grocerylist: [
          { id: 0, text: "vegetables" },
          { id: 1, text: "cheese" },
          { id: 2, text: "whatever" },
        ],
      },
    });
  </script>
</html>
